<%- layout('layouts/boilerplate') %>
            <div class="widget-header text-center" style="background-color: #394263; color: black; padding: 5px;">
                <h3 class="widget-content-light">
                    Greetings<br>
                    <small>Welcome to AAS!</small>
                </h3>
            </div>
<div class="d-flex flex-column text-white vh-100"  style="align-items: center; justify-content: center;background-color: #EAEDF1;">
    <div class="d-flex" style="color:#1BBAE1;">
        <div class="p-2" style="margin: 3px; box-shadow:0px 2px rgb(119, 118, 118); height: 200px; width: 350px;background-color: white;"><i class="fa-solid fa-user me-1"></i><a href="/login/Club" style="text-decoration: none;">CLUB PORTAL</a></div>
        <div class="p-2"  style="margin: 3px; box-shadow:0px 2px rgb(119, 118, 118); height: 200px; width: 350px;background-color: white;"><i class="fa-solid fa-user me-1"></i><a href="/login/Secretary" style="text-decoration: none;">SECRETARY PORTAL</a></div>
    </div>
    <div class="d-flex" style="color:#1BBAE1;">
        <div class="p-2"  style="margin: 3px; box-shadow:0px 2px rgb(119, 118, 118); height: 200px; width: 350px;background-color: white;"><i class="fa-solid fa-user me-1"></i><a href="/login/FacultyAdvisor" style="text-decoration: none;">FACULTY ADVISOR PORTAL</a></div>
        <div class="p-2"  style="margin: 3px; box-shadow:0px 2px rgb(119, 118, 118); height: 200px; width: 350px;background-color: white;"><i class="fa-solid fa-user me-1"></i><a href="/login/StudentOffice" style="text-decoration: none;">STUDENT OFFICE PORTAL</a></div>
    </div>
    <div class="p-2"  style="margin: 3px; box-shadow:0px 2px rgb(119, 118, 118); height: 200px; width: 350px;background-color: white;"><i class="fa-solid fa-user me-1"></i><a href="/login/Admin" style="text-decoration: none;">ADMIN PORTAL</a></div>
</div>

