<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="/"><img class="d-inline-block align-text-top" src="/iitmandilogo.png" alt="" width="30" height="24"/> Approval Automation System</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
    <% if(user !== null) { %>
        <div class="position-relative">
          <a href="#" data-bs-toggle="dropdown"></a>
          <img
            class="rounded-circle"
            src="<%= user.pic %>"
            alt=""
            style="width: 40px; height: 40px"
          />
        </div>
        <a
          href="#"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          <span class="d-none d-lg-inline-flex text-white"><%= user.name %> </span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0 pe-5"
        >
          <a href="/logout" class="dropdown-item">Log Out</a>
        </div>
    <% } %>
</nav>
